/* --- Body --- */
body {
    font-family: Arial, "Microsoft JhengHei", sans-serif;
    text-align: center;
    padding: 30px 40px;
    background-color: #feffeb; 
}

.hidden { 
    display: none; 
}

/* --- title --- */
h1, h2 { 
    color:#2f0b70; 
}

/* --- select person --- */
.role-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 40px;
}

.role-card {
    cursor: pointer;
    transition: transform 0.3s ease;
    width: 150px;
    text-align: center;
}

.role-card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #2f0b70;
    transition: transform 0.3s ease;
}

.role-card:hover img {
    transform: scale(1.1);
    border-color: #e40e72;
}

.role-card span {
    display: block;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}

.role-card.clicked img {
    transform: scale(1.5);
    border-color: #ff8dc6;
}

/* --- course button --- */
.course-btn {
    margin:5px; 
    border-radius:8px; 
    border:1px solid #4c8bf5; 
    cursor:pointer; 
    transition: 0.2s;
    background-color: #ceedfc;
    color: rgb(0, 0, 0);
    padding: 20px 40px;
    font-size: 20px;
}

.course-btn.selected { 
    background-color: #4c8bf5;
    color: white; 
}

.course-btn-a{
    margin:5px; 
    border-radius:8px; 
    border:1px solid #4c8bf5; 
    cursor:pointer; 
    transition: 0.2s;
    background-color: #ceedfc;
    color: rgb(0, 0, 0);
    padding: 20px 40px;
    font-size: 20px;
}


/* --- test area --- */
.quiz-box {
    background-color: rgb(250, 250, 250);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    max-width: 400px;
    margin: auto;
    margin-top: 20px;
}

.word {
    font-size: 44px;
    margin-bottom: 20px;
}

.option {
    display: block;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #5b2db6;
    cursor: pointer;
    font-size: 36px;
    transition: 0.2s;
}

.option:hover {
    background-color: #d0e0ff;
}

.correct { 
    background-color: #c8f7c5 !important;
}

.wrong { 
    background-color: #f7c9c5 !important;
}

#next-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    display: none;
    background: #4c8bf5;
    color: white; 
    border: none;

}

#score-box {
    margin-top: 20px;
    font-size: 18px;
}

/* --- Start button --- */
.start-buttons button {
    margin: 20px;
    padding: 20px 40px;
    font-size: 30px;
    border-radius: 5px;
    border: none;
    background-color: #3db4e3;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

.start-buttons button:hover {
    background-color: #3367d6;
}

/* --- section title --- */
.section-title {
    font-size: 24px;
    margin-bottom: 10px;
    color: #444;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
}

/* --- Footer & back front page --- */
#footer-bar {
    text-align: center;
    margin-top: 200px;
    padding: 20px 0;
}

#back-button {
    padding: 20px 40px;
    font-size: 20px;
    background-color: #4c8bf5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#back-button:hover {
    background-color: #3367d6;
}

/* --- 再玩一次按鈕 --- */
.restart-button {
    margin-top: 20px;
    padding: 20px 30px;
    font-size: 24px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.restart-button:hover {
    background-color: #45a049;
}
